html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 768px;
  background: #E5E5E5;
}

:root {
  --base-color: #000;
  --x-color: #FF9900;
  --y-color: #FFB84D;
  --z-color: #E1670E;
}

/*  Glob  */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {

}

.section-offset {
  margin-bottom: 100px;
}

.section-offset-1 {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}


/*  Header  */
.header {
  background-color: #fff;
  border-radius: 0 0 32px 32px;
  justify-content: flex-end;
}

.header-menu {
  align-self: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 260px;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  color: var(--base-color);
}
