@font-face {
	font-family:'Montserrat';
	src: url('MontserratRegular.eot');
	src: local('Montserrat Regular'), local('MontserratRegular'),
    url('fonts/MontserratRegular.woff2') format('woff2'),
		url('fonts/MontserratRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Montserrat';
	src: url('MontserratSemiBold.eot');
	src: local('Montserrat Semi Bold'), local('MontserratSemiBold'),
    url('fonts/MontserratSemiBold.woff2') format('woff2'),
		url('fonts/MontserratSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family:'Montserrat';
	src: url('MontserratBold.eot');
	src: local('Montserrat Bold'), local('MontserratBold'),
    url('fonts/MontserratBold.woff2') format('woff2'),
		url('fonts/MontserratBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Montserrat';
	src: url('MontserratExtraBold.eot');
	src: local('Montserrat Extra Bold'), local('MontserratExtraBold'),
    url('fonts/MontserratExtraBold.woff2') format('woff2'),
		url('fonts/MontserratExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 768px;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --base-color: #000;
  --n-base-color: #fff;
  --x-color: #FF9900;
  --y-color: #FFB84D;
  --z-color: #E1670E;
}

/*  Glob  */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--base-color);
}

.section-offset {
  margin-bottom: 100px;
}

.section-offset-1 {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}


/*  Header  */
.header {
  height: 100px;
  padding: 14px;
  background-color: #fff;
  border-radius: 0 0 32px 32px;
  justify-content: flex-end;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-menu {
  align-self: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 260px;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  color: var(--base-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}


/*  hero  */
.hero-img {
  width: 1770px;
  min-height: 620px;
  padding: 100px 80px;
  background-image: url(/img/hero.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.hero__decrs {
  flex-direction: column;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  width: 837px;
  color: var(--n-base-color);
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero__des {
  margin-bottom: 115px;
  max-width: 790px;
  color: var(--n-base-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__btn {
  padding: 25px 40px;
  color: var(--n-base-color);
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  background-color: var(--x-color);
  border-radius: 16px;
}



/*  us  */
.us-title {
  margin: 0;
  margin-bottom: 20px;
}

.us__top {
  max-width: 1235px;
  margin-bottom: 50px;
}

.top__dexcr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--base-color);
}

.us__left {
  max-width: 868px;
  margin-right: 32px;
}

.left__img {
  width: 868px;
  min-height: 100%;
  background-image: url(/img/us-left.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  align-items: flex-end;
}

.left__block {
  align-items: center;
  width: 100%;
  min-height: 196px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.left__descr {
  margin: 0;
  margin-right: auto;
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--n-base-color);
}

.left__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--n-base-color);
  padding: 20px 38px;
  border: 3px solid var(--x-color);
  border-radius: 16px;
}

.us__right {
  align-self: flex-end;
}

.right__list {
  width: 870px;
  flex-direction: column;
}

.right__item {
  padding: 65px 60px;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.right__item:not(:last-child) {
  margin-bottom: 32px;
}

.right__svg {
  width: 190px;
  height: 165px;
  margin-right: 50px;
}

.right__block {
  max-width: 452px;
}

.right__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--base-color);
}

.right__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--base-color);
}


/*  Work  */
.work-title {
  margin: 0;
  margin-bottom: 50px;
}

.work__list {
  margin-bottom: 45px;
}

.work__item:not(:last-child) {
  margin-right: 86px;
}

.work__linl {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--base-color);
}

.block__left {
  flex-direction: column;
  max-width: 758px;
  margin-right: auto;
}

.block__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--base-color);
}

.block__descr {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--base-color);
}

.block__btn-1 {
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--n-base-color);
  background-color: var(--x-color);
  border-radius: 16px;
  margin-right: 32px;
}

.block__btn-2 {
  padding: 20px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--base-color);
  border: 1px solid var(--base-color);
  border-radius: 16px;
}

.block__img {
  width: 870px;
  min-height: 100%;
  background-image: url(/img/work-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  align-self: flex-end;
}
